{% extends 'product_template.html' %} {% block js %}
<script>
  $(document).ready(function () {
    getProduct();
  });
  function loadMore() {
    pageNo += 1;
    getProduct();
  }
</script>
{% endblock %}{% block title %}
<div class="subtitle">
  <h1>
    Category : {% if category == 'cleaning' %}Cleaning{% elif category ==
    'haircare' %}Hair Care{% elif category == 'forthehome' %}Home{% elif
    category == 'makeup' %}Makeup{% elif category == 'kitchen' %}Kitchen{% elif
    category == 'kids' %}Kids & Baby{% elif category == 'oral' %}Oral Hygiene{%
    elif category == 'personal' %}Personal Hygiene{% elif category == 'travel'
    %}Travel{% elif category == 'skincare' %}Skin Care{% elif category ==
    'others' %}Others{% endif %}
  </h1>
</div>
{% endblock %} {% block products %}
<div class="products" id="products-area" isWish="false"></div>
{% endblock %}
